@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800;900&display=swap');

.container{
    margin: -400px 300px 0 300px;
}

.inner-container{
    margin: 10px 150px;
}

.heading{
    word-wrap: break-word;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color: whitesmoke;
}


@media only screen and (max-width: 600px) {
    .container{
        margin: 100px auto;
    }
    .inner-container{
        margin: 0;
    }
    
    .search-bar{
        width: 80%;
    }
  }