@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800;900&display=swap');

.container{
    margin: -400px 300px 0 350px;
}

.inner-container{
    margin: 10px 185px;
}

.heading{
    word-wrap: break-word;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color: whitesmoke;
}


@media only screen and (max-width: 600px) {
    .container{
        margin: -275px 5px 10px 10px;
    }
    .inner-container{
        margin: 10px 15px;
    }
    .heading{
        font-size: 25px;
    }
    
    .search-bar{
        width: 80%;
    }
  }