.header {
    height: 600px;
    width: 100vw;
    overflow: hidden;
    background: linear-gradient(rgba(58, 59, 61, 0.8), rgba(8, 8, 8, 0.8)), url("https://images.unsplash.com/photo-1602526428496-8346b5cf9954?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1327&q=80");
    background-size: 100%;
}

.img {
   object-fit: cover;
}

@media only screen and (max-width: 600px) {
    .header {
      height: 250px;
      width: 100%;
    }
  }