.github-container{
    position: relative;
}

.github{
    position: absolute;
    color: white;
    top: 50px;
    left: 100px;
    z-index: 1;
}

@media only screen and (max-width: 600px){
    .github{
        top: 25px;
        left: 20px;
    }
}