body {
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 1px !important;
}

.search {
  border-radius: 5px;
  display: flex;
}

.searchTerm {
  flex-grow: 1;
  padding: 15px;
  letter-spacing: 1px;
  font-size: 5rem;
  color: #444;
  border: 0;
  border-radius: 5px 0 0 5px;
  font-size: 1rem;
}

.searchTerm:focus {
  outline: none;
}

.searchTerm:focus {
  /* color: #00b4cc; */
}

.searchButton {
  padding: 0 1rem 0 1rem;
  border: 0;
  background: #00b4cc;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
  width: 85%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Min-width of 900px = MUI's md size specified in the MUI docs */
@media all and (min-width: 900px) {
  .wrap {
    width: 45%;
  }
}
